# For NVIDIA GPUs with CUDA support (Windows)
torch==2.5.1+cu118
torchvision==0.20.1+cu118
torchaudio==2.6.0
onnx==1.17.0
onnxruntime-gpu==1.20.1
numpy  # Required for PyTorch and ONNX operations
scipy  # Optional, useful for scientific computing if needed
onnx-simplifier
