# For NVIDIA GPUs with CUDA support (Windows)
torch==2.4.1+cu118; platform_system == "Windows" and platform_machine == "AMD64"
torchvision==0.19.1+cu118; platform_system == "Windows" and platform_machine == "AMD64"
torchaudio==2.4.1+cu118; platform_system == "Windows" and platform_machine == "AMD64"
onnx==1.17.0; platform_system == "Windows" and platform_machine == "AMD64"
onnxruntime-gpu==1.19.2; platform_system == "Windows" and platform_machine == "AMD64"
